@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');
/* Header */
h1, h2{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}
.bio{
    background-color: #1D3557;
    color: #F1FAEE;
    
}
.bio, br{
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}
.degree{
    font-style: italic;
    font-size: 12px;
}

/* body */
body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.week{
background-color: #1D3557;
color: #F1FAEE;
padding: 10px;
border-radius: 15px 50px;
width: fit-content;
}
li{
    margin: 10px;
    background-color: #457B9D;
    border-radius: 12px;
    padding: 5px;
    width: fit-content;
}
li, a{
    list-style-type: none;
    text-decoration: none;
}
a{
    color: #F1FAEE;
}

/* Links */

li:hover{
    background-color: #F1FAEE;
    transition: 0.5s;
    border: 1px solid #1D3557;
}
a:hover{
    color: #1D3557;
}
